
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
/* border: 1px solid #ddd; */
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

h1{
    text-transform: uppercase;

    font-size: 16pt;
    font-weight: 900;
    letter-spacing: 3pt;
    color: rgb(255, 134, 134);
}

#navbar{
	height: 70px;
    display: inline-block;
    
	background-color: rgba(48, 47, 47, 0.76);
    color: #FFF;
    
	width: 100%;
    position: fixed;
	/* top: 0px; */
	/* left: 0px; */
	z-index: 999;
}
	
#logo{
    float: left;
    margin: 0px 20px;
    position: relative;
    left: 40px;
    color: #FFF;
	text-transform: uppercase;
	font-weight: 300;
    /* padding: 13px; */
    /* height: 100%; */
    top: 12;
    left: 12%;
    font-weight: 500;
    font-size: 14pt;
}

img.logo {
	width: 75%;
}


.navbar-item{
	 float: left;
    display: inline-block;
    margin: 0px 15px;
    position: relative;
	 left: 3%;
	 color: #FFF;
	 font-weight: 300;
	 letter-spacing: 2pt;
	 top: 23;
	 padding: 5px 9px;
	 text-transform: uppercase;
	 font-size: 10pt;
}

.navbar-item:hover{
	border-bottom: 3px solid #FFF;
}



#slide1, #slide2{ width: 100%; }


#slide1{
	background:url("images/slide1.jpg") 50% 0 no-repeat fixed;
	color: #fff;
    
	height: 600px;
    
	margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}

#slide1-content{
	background-color: rgba(0, 0, 0, 0.33);
	color: rgba(255, 255, 255, 0.86);
	/* width: 200px; */
	position: absolute;
	left: 24%;
	z-index: 1;
	padding: 40px;
	text-align: center;
	font-size: 65pt;
	font-weight: 300;
}

#slide2{
	background: url("images/slide2.jpg") 50% 0 no-repeat fixed;
	background-color: #FFF;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
	background-size: cover;

}

#slide2-title{
	border: 4px double #FFF;
	color: #FFF;
	padding: 5px 2px;
	text-align: center;
	text-transform: uppercase;
	width: 215;
	position: relative;
	left: 307px;
	padding: 15px;
	font-size: 20pt;
	font-weight: 500;
	letter-spacing: 2pt;
}	


#slide2-box{
	background-color: rgba(0, 0, 0, 0.71);
	position: absolute;
	left: 16%;
	z-index: 1;
	padding: 15px;
	width: 900;
}

#slide2-text{
	color: rgba(255, 255, 255, 0.86);
	padding: 40px;
	text-align: justify;
	font-size: 12pt;
	font-weight: 300;

	line-height: 20pt;
}

#slide3{
    background-color: #fff;
    color: #333333;
    height: 700px;
    padding: 92px 0;
}

/**GRID**/

#grid-content{
	width: 800px;
    margin-left: auto;
    margin-right: auto;
    
	border-radius: 0px;
    overflow: hidden;
	/* margin-bottom: -5; */
	position: relative;
	left: 19;
}

div.story-item {
    height: 265px;
    display: block;
    float: left;
    width: 364;
    margin: 8px 11px;
    /* margin-bottom: 14; */
}

div.item-info {
    /* border: 2px solid #ddd; */
    position: relative;
    top: -54;
    padding: 15px 16px;
    background-color: rgba(37, 37, 37, 0.82);
    color: rgb(137, 196, 191);
    font-weight: 200;
}

div.item-title {
    font-size: 13pt;
}


#slide3-box{
	text-align: center;
}

#slide3-title{
	font-size: 40pt;
	color: rgb(140, 201, 201);
}

#group-container{
    /* width: 100%; */

    /* height: 100%; */
    margin: 23px 92px;
}

.groupbox{

    /* display: inline-block; */
    

    /* float: left; */
    

    /* margin: 8px 58px; */
}

.group-img{
    /* position: relative; */

    right: -495;
}

img.group-circle{
    border-radius: 50%;

    height: 150px;
    width: 150px;
}

.group-content{
    font-weight: 300;
	
    text-align: left;
    position: relative;
    /* left: 199; */
    bottom: 177;
    width: 319px;
}


#slide4{
    background: url("images/slide4.jpg") 50% 0 no-repeat fixed;
    color: #fff;
    height: 600px;
    padding: 170px 0 0 0;
    background-size: cover;
}

 #slide4-title{
	font-size: 30pt;
	color: rgb(165, 52, 142);
	font-weight: 300;
	position: absolute;
	left: 700;
	text-transform: uppercase;
}

#slide5{
    margin: 0 auto;
    /* padding: 250px 0; */
    color: #fff;
    background-size: cover;
    padding-top: 60px;
}

#slide5-title{
	text-transform: uppercase;
	color: rgb(45, 175, 170);
	text-align: center;
	margin: 57px 0px;
	font-size: 32pt;
	font-weight: 400;
	letter-spacing: 7px;
}


#footer{
	/* position: absolute; */
	/* width: 100%; */
	height: 350px;

	/* top: 5000px; */
	background-color: #000;

	/* margin: 0px 5px; */
	padding: 0px 20px;
}

#footer a{
	color: rgb(123, 201, 198);
}

.footer-content{
    /* letter-spacing: 0pt; */

    line-height: 19pt;
    font-size: 11pt;
    display: inline-table;
    color: white;
    position: relative;
    margin: 0px 27px;
    top: 31px;
    text-align: left;
    font-weight: 300;
}

.footer-links{
	margin: 0px 11px;
	text-align: left;
	padding: 0;
	margin: 10px 0px;
	list-style-type: none;
	/* color: rgb(45, 175, 170); */
}


#copyright{
	font-size: 11pt;
	color: #FFF;
	position: relative;
	top: 91px;
	width: 100%;
	text-align: center;
	font-weight: 300;
}